@using System.Collections
@using ExamampleApp2Approach.Entities
@model IEnumerable<Hardware>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Any())
{
    <table class="table">
        <thead class="tab-pane">
        <tr>
            <td >
                Nazwa
            </td>
        </tr>
        <tr>
            <td >
                Rok
            </td>
        </tr>
        <tr>
            <td >
                Cena
            </td>
        </tr>

        <tbody class="tab-content">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
            <tr>
                <td>
                    @item.Year
                </td>
            </tr>
            <tr>
                <td>
                    @item.Price
                </td>
            </tr>
        }
        </tbody>

    </table>
}