@using ExamampleApp2Approach.Entities
@model IEnumerable<Hardware>

@{
    ViewData["Title"] = "Home Page";
}

@* @if (Model.Any()) *@
@* { *@
    <table class="table">
        <thead class="tab-pane">
        <tr>
            <td >
                Nazwa
            </td>
            <td >
                Rok
            </td>
            <td >
                Cena
            </td>
        </tr>
        <tr><a class="btn btn-outline-success float-right" asp-action="Add">Dodaj</a></tr>

        <tbody class="tab-content">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
            <tr>
                <td>
                    @item.Year
                </td>
            </tr>
            <tr>
                <td>
                    @item.Price
                </td>
            </tr>
        }
        </tbody>

    </table>
@* } *@